{% extends "base.html" %}

{% block page_content %}
{% load static %}
<title>Victor Sun | Card</title>

<div class="row">
	<div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-10 offset-1">
		<div id="card">
			<div class="front">
				<center><img src="{% static 'imgs/businesscard_front.png' %}" width="100%"></center>
			</div>
			<div class="back">
				<center><img src="{% static 'imgs/businesscard_back.png' %}" width="100%"></center>
			</div>
		</div>
	</div>
</div>

<script>$('#card').hide().fadeIn(1000*1.5);</script>

{% endblock %}
