{% extends "base.html" %}

{% block page_content %}
{% load static %}
<title>Victor Sun | Card</title>

<div class="row">
	<div class="col-6 offset-3">
			<div id="card">
				<div class="front">
					<center><img src="{% static 'imgs/businesscard_front.png' %}" width="600px"></center>
				</div>
				<div class="back">
					<center><img src="{% static 'imgs/businesscard_back.png' %}" width="600px"></center>
				</div>
			</div>
	</div>
</div>

<script>$('#card').hide().fadeIn(1000*1.5);</script>

{% endblock %}
