{% extends "base.html" %}


{% block head_content %}
<title>Victor Sun | Card</title>
{% endblock %}

{% block nav_content %}
<li class="nav-item">
	<a class="nav-link" href="/recipes">Recipes</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/music">Music</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/books-and-movies">Books & Movies</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/pf">Personal Finance</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/education">Education</a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		PF Extras
	</a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:13px;">
		<a class="dropdown-item" href="/pf/api">API</a>
		<a class="dropdown-item" href="/pf/api-doc">API Docs</a>
		<a class="dropdown-item" href="/pf/eating-habit">ML Food Predictor</a>
	</div>
</li>
{% endblock %}

{% block page_content %}
{% load static %}

<div class="row">
	<div class="col-6 offset-3">
			<div id="card">
				<div class="front">
					<center><img src="{% static 'imgs/businesscard_front.png' %}" width="600px"></center>
				</div>
				<div class="back">
					<center><img src="{% static 'imgs/businesscard_back.png' %}" width="600px"></center>
				</div>
			</div>
	</div>
</div>

<script>$('#card').hide().fadeIn(1000*1.5);</script>

{% endblock %}
