{% extends "base.html" %}

{% block head_content %}
<title>Victor Sun | Books & Movies</title>
{% endblock %}

{% block nav_content %}
<li class="nav-item">
	<a class="nav-link" href="/recipes">Recipes</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/music">Music</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="/books-and-movies">Books & Movies</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/pf">Personal Finance</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/education">Education</a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		PF Extras
	</a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:13px;">
		<a class="dropdown-item" href="/pf/api">API</a>
		<a class="dropdown-item" href="/pf/api-doc">API Docs</a>
		<a class="dropdown-item" href="/pf/eating-habit">ML Food Predictor</a>
	</div>
</li>
{% endblock %}


{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style_music.css' %}">

<div id="content">
	<center><h1>Books & Movies</h1>
	<p>A collection of books I have read since 2018 + A selected collection of some of my favourite Hollywood movies. <br>
		The 'most popular' movie graphs are the most common occurrences of genres/directors/cast based on my list of favourite movies.<hr></p></center>

		{% load plotly_dash %}
		{% plotly_app name="books_movies_dash" ratio=0.8 %}
</div>

<script>$('#content').hide().fadeIn(1000*1.5);</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
