{% extends "base.html" %}


{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style_music.css' %}">
<title>Victor Sun | Books & Movies</title>

<div id="content">
	<center><h1>Books & Movies</h1>
	<p>A collection of books I have read since 2018 + A selected collection of some of my favourite Hollywood movies. <br>
		The 'most popular' movie graphs are the most common occurrences of genres/directors/cast based on my list of favourite movies.<hr></p></center>

		{% load plotly_dash %}
		{% plotly_app name="books_movies_dash" ratio=0.8 %}
</div>

<script>$('#content').hide().fadeIn(1000*1.5);</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
