{% extends "base.html" %}

{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style_pf.css' %}">
<title>Victor Sun | Personal Finance</title>

<div class="row">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-10 offset-1">
		<div id="title">
			<center><h1>Personal Finance Analysis</h1>
				<p>Collected personal finance data since 2012. Used for:</p></center>
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-10 offset-1">
					<ul>
						<li><a href="/pf/visualization">Visualization</a></li>
						<li><a href="/pf/api">Web API</a></li>
						<li><a href="/pf/api-doc">API Documentation</a></li>
						<li><a href="/pf/api-examples">API Usage Examples</a></li>
						<li><a href="/pf/eating-habit">ML Bot</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>$('#content').hide().fadeIn(1000*1.5);</script>

{% endblock %}
