{% extends "base.html" %}

{% block page_content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style_recipe.css' %}">
<title>Victor Sun | Recipes</title>

<div id="content">
	<center><h1>Recipes</h1>
	<p>My cooking philosophy is cooking without a recipe. My favourite foods to cook are quick home-style foods that require very little dishes to clean.
		<br> This is a list of 'recipes' with no instructions or quantitative amount of ingredients.</p></center><hr>
	<div class="row center">
		<p>
			<a class="btn btn-outline-primary btn-sm p-1 mb-1" href="/recipes/">Recipes: <i>{{ recipes.count }}</i></a>
			{% for ingredient_name, ingredient_count in ingredients.items %}
				{% if ingredient_name in selected_ingredients %}
					<a class="btn btn-outline-primary btn-sm p-1 m-1" href="/recipes/ingredients/
					{% for query_ingredient in selected_ingredients %}{{query_ingredient}}&{% endfor %}">
						{{ ingredient_name }}: <i>{{ ingredient_count }}</i></a>
				{% else %}
					<a class="btn btn-primary btn-sm p-1 mb-1" href="/recipes/ingredients/
					{% for query_ingredient in selected_ingredients %}{{query_ingredient}}&{% endfor %}{{ ingredient_name }}">
						{{ ingredient_name }}: <i>{{ ingredient_count }}</i></a>
				{% endif %}
			{% endfor %}
		</p>
	</div>
	<div class="row">
	{% for recipe in recipes %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center py-2">
			<div class="card mb-2 h-100" data-toggle="modal" data-target="#modal" onclick="show_modal('{{ recipe.slug }}')" style="cursor: pointer;">
				<img class="card-img-top" src="/media/{{ recipe.img }}" alt="{{ recipe.name }}">
<!--				<div class="card-body d-flex flex-column"> <p class="card-text mt-auto"> </p> </div>-->
				<div class="card-footer h-100">
					<h5 class="card-title">{{ recipe.name }}</h5>
				</div>
			</div>
		</div>
		{% endfor %}

		<!-- Modal -->
		<div id="modal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h3><div id="recipe-name"></div></h3>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col v-center" id="recipe-img"></div>
						<div class="col box-shift" id="recipe-info"></div>
					</div>
				</div>
				<div class="modal-footer" id="recipe-footer"></div>
			</div>

			</div>
		</div>
	</div>

</div>

<script>$('#content').hide().fadeIn(1000*1.5);</script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'modal.js' %}"></script>

{% endblock %}
