{% extends "base.html" %}

{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style_music.css' %}">
<title>Victor Sun | Music</title>

<div id="content">
	<center><h1>Music</h1>
	<p>A dashboard visualization of music I listen to. <br>
		'genre' is my personal categorization of songs. 'genre detailed' is a slightly more accurate categorization of the songs.<hr></p></center>
		{% load plotly_dash %}
		{% plotly_app name="music_dash" ratio=1.1 %}
</div>

<script>$('#content').hide().fadeIn(1000*1.5);</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
